- content_for :title, "Edit Product"
- content_for :page_header, "Edit Product: #{@product['name']}"

%nav
  = link_to "← Back to Tree", root_path(anchor: 'tree')

%section
  = form_with url: update_product_path(@product_id), method: :patch do |f|
    %fieldset
      = f.label :name, "Name:"
      = f.text_field :name, value: @product['name']
    
    %fieldset
      = f.label :code, "Code:"
      = f.text_field :code, value: @product['code']
    
    %fieldset
      = f.label :description, "Description:"
      = f.text_area :description, value: @product['description'], rows: 3
    
    %fieldset
      = f.label :price, "Price:"
      = f.number_field :price, value: @product['price'], step: 0.01
    
    %fieldset
      = f.label :calories, "Calories:"
      = f.number_field :calories, value: @product['calories']
    
    %fieldset
      = f.label :allergy_info, "Allergy Info:"
      = f.text_area :allergy_info, value: @product['allergyInfo'], rows: 2
    
    %fieldset
      = f.label :available, "Available:"
      = f.check_box :available, checked: @product['availability'] == '1'
    
    = f.submit "Update Product"
