- content_for :title, "Xibo CMS Manager"
- content_for :page_header, "Xibo CMS Manager"

%nav{role: "tablist", "aria-label": "Command categories"}
  %a{href: "#tree", role: "tab", id: "tab-tree", "aria-controls": "tree"} Tree
  - @commands.keys.each do |category|
    %a{href: "##{category.parameterize}", role: "tab", id: "tab-#{category.parameterize}", "aria-controls": category.parameterize}
      = category

= render_tab_panel('tree') do
  = render 'xibo/tabs/tree'

- @commands.each do |(category, commands)|
  = render_tab_panel(category.parameterize) do
    = render 'xibo/tabs/command_category', commands: commands, category_id: category.parameterize

= render 'xibo/tabs/environment_status'
