!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Xibo Web"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Xibo Web", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app
    = javascript_include_tag "tabs", defer: true
    = javascript_include_tag "flash", defer: true
    = javascript_include_tag "queue_processor", defer: true
  %body
    #flash
      = render 'shared/flash'
    - if content_for?(:page_header)
      %header#header
        %h1= yield :page_header
    %main#main
      = yield
    #update-queue-container
      = render 'shared/update_queue'
