- commands.each do |cmd|
  %article
    = form_with url: xibo_run_path, method: :post do |f|
      = hidden_field_tag 'command', cmd[:name]
      = hidden_field_tag 'tab', category_id

      %h3= cmd[:name]
      %p= cmd[:description]

      - if cmd[:params]
        - cmd[:params].each do |param|
          %fieldset
            - if param == :available
              = label_tag "options[#{param}]", param.to_s.humanize
              = check_box_tag "options[#{param}]", true, false
            - elsif param == :random
              = label_tag "options[#{param}]", param.to_s.humanize
              = check_box_tag "options[#{param}]", true, false
            - elsif param == :menu_id
              = label_tag "options[#{param}]", param.to_s.humanize
              = select_tag "options[#{param}]", options_for_select([['Select a menu board...', '']] + @menuboards.map { |mb| ["#{mb['name']} (ID: #{mb['menuId']})", mb['menuId']] })
            - elsif param == :category_id
              = label_tag "options[#{param}]", param.to_s.humanize
              = select_tag "options[#{param}]", options_for_select([['Select a category...', '']] + @categories_list.map { |cat| ["#{cat[:menuboard_name]} > #{cat[:name]} (ID: #{cat[:id]})", cat[:id]] })
            - elsif [:price, :calories, :size].include?(param)
              = label_tag "options[#{param}]", param.to_s.humanize
              = number_field_tag "options[#{param}]", nil, step: (param == :price ? 0.01 : 1), placeholder: param.to_s.humanize
            - else
              = label_tag "options[#{param}]", param.to_s.humanize
              = text_field_tag "options[#{param}]", nil, placeholder: param.to_s.humanize

      = button_tag 'Run Command', type: 'submit'
