- if @tree.any?
  %ul
    - @tree.each do |menuboard|
      %li
        = link_to "#{menuboard['name']} (#{menuboard['code'] || 'No Code'})", edit_menuboard_path(menuboard['menuId'])
        - if menuboard['categories']&.any?
          %ul
            - menuboard['categories'].each do |category|
              %li
                = link_to "#{category['name']} (#{category['code'] || 'No Code'})", edit_category_path(category['menuCategoryId'])
                - if category['products']&.any?
                  %ul
                    - category['products'].each do |product|
                      %li
                        = link_to "#{product['name']} - $#{'%.2f' % (product['price'] || 0)}", edit_product_path(product['menuProductId'])
- else
  %p No menu boards found. Create one using the Menu Boards tab.
